@font-face {
    font-family: Lineal;
    src: url(Downloads/lineal-main/fonts/Static/WEB)format('woff2');
    font-weight: normal, bold;
    
}

body {
    background-color: #A6A195;
    font-family: 'Lineal',Arial, sans-serif;
    color: ghostwhite;
}

.borderbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.templateHeader{
    color: white;
    text-align: center;
    border: 10px ridge black; /* Define border style */
    background-color: gray;
    width:500px;
    padding-top: 15px;
    height: 50px;
}

h1 {
    color: white;
    text-align: center;
   
}


#nav {
    background-color:#eeeeee;
    display:inline;      
}
.menu li{
    display: inline;
}

.menu{
    display: flex;
    justify-content: space-around;
}


a{
    color: white;
    font-size: x-large;
    border: 7px outset black; /* Define border style */
    border-radius: 10px;
    padding:8px;
}

.pickuplink:hover{
    background-color: #422855; /*Changes colour when hover */
}

.kitchenlink:hover{
    background-color: #e7d770; /*Changes colour when hover */
}


.kitchenform_intro{
    text-align: center;
    padding-bottom: 30px;

}
.pickupform_intro{
    text-align: center;
    padding-bottom: 30px;

}

.form-container {
    display: flex;
    flex-direction: column;
    align-items:center; /* Center the form horizontally */
    border: 7px outset black; /* Define border style */
    border-radius: 20px;
    padding: 10px;
    width:800px
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    justify-content:space-around /* Distribute items with space around them */
}

label {
    flex: 1; /* Make labels take up equal space */
    margin-right: 10px;
}

input[type="option"],
select {
    flex: 0.45; /* Make input fields and select take up more space */
}

.submit{
    margin-top: 20px;
    width:60px;
    height:30px;
    font-weight: bold;
}


/* CSS to style the key-value pairs in the response page */
.borderboxresponse{
    display: flex;
    justify-content: center;
    align-items: center;
}


.response-container{
    display: flex;
    flex-direction: column;
    align-items:center; /* Center the form horizontally */
    border: 7px outset black; /* Define border style */
    border-radius: 20px;
    padding: 10px;
    width:800px;
    background-color: #614e41;
}


.form-group ul {
    list-style:circle;
    padding: 0;
}

.form-group li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; /* Equal space between key and value */
}

.key {
    font-weight: bold;
    margin-right: 10px; /* Optional margin between key and value */
}


.value {
    color: black;
}

   



