body {
    background-color: rgb(78, 107, 170);
    font-family: Arial, sans-serif;
}

h1 {
    color: white;
    text-align: center;
}

#nav {
    background-color:#eeeeee;
    display:inline;      
}
.menu li{
    display: inline;
}

.menu{
    display: flex;
    justify-content: space-around;
}

a{
    color: gray;
    font-size: x-large;
}