@font-face {
    font-family: Lineal;
    src: url(Downloads/lineal-main/fonts/Static/WEB)format('woff2');
    font-weight: normal, bold;
    
}

body {
    background-color: #A6A195;
    font-family: 'Lineal',Arial, sans-serif;
    color: ghostwhite;
}
.borderboxhdr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    overflow: auto;
    border: 10px ridge black; /* Define border style */
    background-color: gray;
    width: 90%;
    padding-bottom: 10px;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
}

.borderbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    overflow:hidden;
    border: 10px ridge black; /* Define border style */
    background-color: rgba(128, 128, 128, 0.7);
    width: 90%;
    padding-bottom: 10px;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
}

.templateHeader{
    color: white;
    text-align: center;
}

h1{
    color: white;
    text-align: center;
    font-size: xxx-large;
}

h4{
    color: white;
    text-align: center;
    font-size: x-large;
}

#nav {
    background-color:#eeeeee;
    display:inline;      
}
.menu li{
    display: inline;
}

.menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}


a{
    color: white;
    font-size: x-large;
    border: 7px outset black; /* Define border style */
    border-radius: 10px;
    padding:8px;
}

.pickuplink:hover{
    background-color: #422855; /*Changes colour when hover */
}

.kitchenlink:hover{
    background-color: #e7d770; /*Changes colour when hover */
}

.overviewlink:hover{
    background-color: #614e41; /*Changes colour when hover */
}


.kitchenform_intro{
    text-align: center;
    padding-bottom: 30px;

}
.pickupform_intro{
    text-align: center;
    padding-bottom: 30px;

}

.form-container {
    display: flex;
    flex-direction: column;
    align-items:center; /* Center the form horizontally */
    border: 10px outset black; /* Define border style */
    background-color: rgb(250, 229, 194, 0.3);
    border-radius: 20px;
    padding-top: 30px;
    width:80%
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    justify-content:space-around ;/* Distribute items with space around them */
    flex-flow: column;
}

label {
    flex: 1; /* Make labels take up equal space */
    margin-bottom: 3px;
}

.submit{
    margin-top: 20px;
    width:60px;
    height:30px;
    font-weight: bold;
    align-self: center;
}


/* CSS to style the key-value pairs in the response page */

.backBTN{
    position: absolute;
    top:5%;
    left:23%;
    text-decoration: none;
    color: white; /* Change color as needed */
    border: 5px outset white; /* Define border style */
}

.backBTN:hover{
    background-color: rgb(250, 229, 194, 0.3);
}


.borderboxresponse{
    display: flex;
    justify-content: center;
    align-items: center;
}


.response-container{
    display: flex;
    flex-direction: column;
    align-items:center; /* Center the form horizontally */
    border: 7px outset black; /* Define border style */
    border-radius: 20px;
    padding: 10px;
    width:800px;
    background-color: #614e41;
}


.form-group ul {
    list-style:circle;
    padding: 0;
}

.form-group li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; /* Equal space between key and value */
}

.key {
    font-weight: bold;
    margin-right: 10px; /* Optional margin between key and value */
}


.value {
    color: white;
}


/* CSS to style the key-value pairs in the Overview Page */

.OverviewKitchenBorder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Overview-Container{
    display: flex;
    flex-direction: column;
    align-items:center; /* Center the form horizontally */
    border: 7px outset black; /* Define border style */
    border-radius: 20px;
    padding: 10px;
    width:800px;
    background-color: #614e41;
}

.Overview-Group{
    margin-bottom: 10px;
    display: flex;
    justify-content:space-around ;/* Distribute items with space around them */
    flex-flow: column;
    width: 90%;
}

.Overview-Group ul {
    list-style:circle;
    padding: 0;
}

.Overview-Group li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; /* Equal space between key and value */
}

.foodlabel {
    font-weight: bold;
    margin-right: 10px; /* Optional margin between key and value */
}

.foodvalue {
    color: white;
}

.kitchenname{
    color:white;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

/*Collapible-Content for Overview Page*/

.collapsible {
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.7);
  }

  .collapsible-container{
    border-radius: 5%;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
  input{
    height: 60px;
    width: 100%;
    font-size: 200%;
   }
label{
    font-size: 200%;
}
#pickup-form{
    width: 90%;
}

   /* Makes the select kitchen input bigger for Tablets and Phones */
select{
    height: 60px;
    width: 100%;
    font-size: 200%;
   }
.submit{
    width: 90%;
    height: 70px;
 }

/* Media Query for differet dimesions for tablet and phones to make more mobile friendly! */

@media screen and (max-width: 1000px) {
    .backBTN{
        position: absolute;
        top:8%;
        left:12%;
        text-decoration: none;
        color: white; /* Change color as needed */
        border: 5px outset white; /* Define border style */
    }
    /* Makes the form input bigger for Tablets and Phones */


}
   
@media screen and (max-width: 650px) {
    .form-container {
        display: flex;
        flex-direction: column;
        align-items:center; /* Center the form horizontally */
        border: 10px outset black; /* Define border style */
        background-color: rgb(250, 229, 194, 0.3);
        border-radius: 20px;
        padding-top: 10px;
        width:450px
    }

    .response-container{
        display: flex;
        flex-direction: column;
        align-items:center; /* Center the form horizontally */
        border: 7px outset black; /* Define border style */
        border-radius: 20px;
        padding: 10px;
        width:500px;
        background-color: #614e41;
    }

    .Overview-Container{
        display: flex;
        flex-direction: column;
        align-items:center; /* Center the form horizontally */
        border: 7px outset black; /* Define border style */
        border-radius: 20px;
        padding: 10px;
        width:500px;
    }

    .backBTN{
        position: absolute;
        top:3%;
        left:12%;
        text-decoration: none;
        color: white; /* Change color as needed */
        border: 5px outset white; /* Define border style */
    }
    
    
  }

  @media screen and (max-width: 480px) {
    .form-container {
        display: flex;
        flex-direction: column;
        align-items:center; /* Center the form horizontally */
        border: 10px outset black; /* Define border style */
        background-color: rgb(250, 229, 194, 0.3);
        border-radius: 20px;
        padding-top: 10px;
        width:375px
    }

    .form-group {
        margin-bottom: 10px;
        padding-left:10px;
        width:95%;
        display: flex;
        justify-content:space-around ;/* Distribute items with space around them */
        flex-flow: column;
    }

    .response-container{
        display: flex;
        flex-direction: column;
        align-items:center; /* Center the form horizontally */
        border: 7px outset black; /* Define border style */
        border-radius: 20px;
        padding: 10px;
        width:400px;
        background-color: #614e41;
    }

    .Overview-Container{
        display: flex;
        flex-direction: column;
        align-items:center; /* Center the form horizontally */
        border: 7px outset black; /* Define border style */
        border-radius: 20px;
        padding: 10px;
        width:400px;
        background-color: #614e41;
    }

    .backBTN{
        position: absolute;
        top:3%;
        left:8%;
        text-decoration: none;
        color: white; /* Change color as needed */
        border: 5px outset white; /* Define border style */
    }
    
  }

  