<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Collective Machine Learning </title>
   <link rel="stylesheet" href="{{ url_for('static',     filename='css/template.css') }}">
 </head>
 <body>
    <header>
      <div class="container">
        <div class="borderboxhdr">
          <h1 class="templateHeader">Collective Machine Teaching</h1>
        </div>

        <br></br>
        <div class="borderbox"> 
        <form  method="post">
        <div class="form-group">
        <label for="Password" class="password_txt"> Password:</label>
        <input type="password" id="Password" name="pw" placeholder="Enter your password" class="password-input">
        <button type="submit"class="login">Login</button>
        </form>  
        </div>
        </div>
      </div>
      <br></br>
    </header>
    
    {% block content %}
    {% endblock %}
    
 </body>
</html>