<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> Kitchen Form </h1>
    <p> Enter your details </p>
      
    <form method="post" id="pickup-form">
      <!-- Loop through dynamic_labels and generate labels -->
      {% for label in dynamic_labels %}
      <!--Displays a label for each item in dynamic_labels. -->
        <label for="{{ label }}"><b>{{ label }}:</b></label>
         <!--Generates an input field with type "number" and an ID and name based on the current label in the loop.. -->
        <input type="number" id="{{ label }}" name="Number_{{ label }}" value="0" />
        <br>
      {% endfor %}
      <input type="submit" class="submit" value="Submit">
    </form>
    {% endblock %}
  </body>
</html>