<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/template.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <title>Overview</title>


<body>
    <!-- Back Button -->
<a class="backBTN" href="javascript:history.back()"><i class="fa-solid fa-arrow-left"></i></a>

    <div class="OverviewKitchenBorder"> 
        <div class="Overview-Container">
        <h1>Overview</h1>
        <p>Summary of all the kitchen stocks.</p>
        <div class="Overview-Group" >
    <!-- Iterate over kitchens_display_values and display data for each kitchen -->
    {% for kitchen_display_val in kitchens_display_values %}
    <ul>
        <!--Iterates over each key-value pair in the kitchen_display_val dictionary, which represents the display values for a kitchen.-->
        {% for food_label, food_value in kitchen_display_val.items() %}
        <!--Displays each food label along with its value as list items within the list also the timestap for each kitchen.-->
            <li>
                <span class= "foodlabel">{{ food_label }}:</span> 
                <span class= "foodvalue">{{ food_value }}</span>   
            </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
    </div>
</div>
</head>
    
</body>
</html>