<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>CMT Welcome</title>
   <link rel="stylesheet" href="{{ url_for('static',     filename='css/template.css') }}">
 </head>
 <body>
    <header>
      <div class="container">
        <div class="borderbox">
        <h1 class="templateHeader">Collective Machine Teaching</h1>
      </div>
        <div id="nav">
          <ul class="menu">
            <li><a href="{{ url_for('pickupform') }}">Pick Up</a></li>
            <li><a href="{{ url_for('kitchenform') }}">Kitchen</a></li>
          </ul>
        </div>
      </div>
    </header>
    
    {% block content %}
    {% endblock %}
    
 </body>
</html>